<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <header>
        <h1>Poll toevoegen</h1>
    </header>
    <main>
        <form method="POST">
            <fieldset>
                <label for="">Titel</label>
                <input type="text" name="title" id="" placeholder="Type je vraag hier" required />
                <label for="">Antwoorden</label>
                <ul>
                    <li>
                        <input type="text" name="answers" id="" required />
                    </li>
                    <li>
                        <input type="text" name="answers" id="" required />
                    </li>
                </ul>
                <button>Extra antwoord</button>
            </fieldset>
            <label><input type="checkbox" name="multiple" id="" />Meerdere antwoorden mogelijk?</label>
            <div class="submit-buttons">
                <button type="submit" formaction="/save-poll">Sla concept op</button>
                <button type="submit" formaction="/add-poll">Maak aan</button>
            </div>
        </form>
    </main>
</body>
<%- include('./partials/foot') %>
