<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <header>
        <div class="width-container">
            <h1>Poll toevoegen</h1>
        </div>
    </header>
    <main>
        <div class="width-container">
            <form method="POST">
                <fieldset>
                    <label class="h2" for="title">Titel</label>
                    <input class="form-validate" type="text" name="title" id="title" placeholder="Type je vraag hier" required />
                    <label class="h2" for="answer1">Antwoorden</label>
                    <ul class="answer-container">
                        <li>
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 1" id="answer1" required />
                        </li>
                        <li>
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 2" required />
                        </li>
                        <li class="js-hide">
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 3" />
                        </li>
                        <li class="js-hide">
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 4" />
                        </li>
                        <li class="js-hide">
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 5" />
                        </li>
                        <li class="js-hide">
                            <input class="form-validate" type="text" name="answers" placeholder="Antwoord 6" />
                        </li>
                    </ul>
                    <div class="add-remove-buttons hidden">
                        <button id="add-answer" type="button" class="btn">Extra antwoord</button>
                        <button id="remove-answer" type="button" class="btn">Verwijder antwoord</button>
                    </div>
                </fieldset>
                <label class="checkbox-label"><input type="checkbox" name="multiple" id="" />Meerdere antwoorden mogelijk?</label>
                <div class="submit-buttons">
                    <button class="btn btn-prim" type="submit" formaction="/add-poll">Maak aan</button>
                    <button class="btn" type="submit" formaction="/save-poll" formnovalidate>Sla concept op</button>
                </div>
            </form>
        </div>
    </main>
    <script defer src="/js/main.js"></script>
</body>
<%- include('./partials/foot') %>
