<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main class="horizontal-content">
        <h1 class="list-heading">Mijn polls</h1>
        <ul class="poll-list-horizontal scrollbar-custom">
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
        </ul>
        <h2 class="list-heading">Mijn stemmen</h1>
        <ul class="poll-list-horizontal scrollbar-custom">
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
            <li class="poll-list-item">
                <a href="">
                    <h2>Poll 1</h2>
                    <p>13 stemmen</p>
                </a>
            </li>
        </ul>
    </main>
</body>
<%- include('./partials/foot') %>
